// 颜色定义规范
$color-background = #ffffff
$color-background-d = #f5f5f5
$color-highlight-background = #333
$color-dialog-background = #666
$main-boder-color = #e5e9f2
$main-boder-color-d = #bfcbd9

$color-theme = #20A0FF
$color-theme-l = #58B7FF
$color-theme-ll = rgb(239, 238, 246)
$color-theme-d = #1D8CE0

$color-text = #1F2D3D
$color-text-d = #324057
$color-text-l = #475669
$color-text-ll = #8492A6

$success = #13CE66
$warning = #F7BA2A
$danger = #FF4949

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px

$main-padding = 16px
$main-padding-s = 10px
